.form-container {
    height: 100vh;
    position: relative;
}

.form-login {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: 1px solid #ddd;
    padding: 15px;
}

.form-title {
    text-align: center;
    padding-top: 15px;
}

.form-password {
    display: flex;
    justify-content: space-between;
}

.form-end {
    padding-top: 30px;
}

.form-end-wrapper-button {
    padding-top: 15px;
}

.form-end-button {
    width: 100%;
}

.form-end-signup {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .form-login {
        max-width: 275px;
    }
}
