.container_status {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}
.container_status h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;

}
.container_status a {
    text-decoration: none;
    background: #33c9dc;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
    opacity: 0.9;
}
.container_status a:hover {
    background: #343434;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .container_status h1 {
        font-size: 70px;
    }
}
