.form-container {
    height: 100vh;
    position: relative;
}

.form-signup {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 1px solid #ddd;
    padding: 15px;
}

.form-title {
    text-align: center;
    margin-top: 20px;
}

.form-end-button-reset {
    margin-left: 10px;
}

.form-end-login {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .form-title {
        margin-top: 0;
    }
}
@media screen and (max-width: 576px) {
    .form-signup {
        max-width: 275px;
        margin-top: 100px;
    }
}
