.column {
    width: 100%;
}

#featured {
    /* width: 500px;
    height: 340px; */
    object-fit: cover;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.thumbnail {
    object-fit: cover;
    width: 100px;
    height: 70px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 1px solid black;
}

.thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

/* #slide-wrapper {
    max-width: 415px;
    display: inline-flex;
    min-height: 84px;
    margin-left: 80px;
} */

#slider {
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#slider::-webkit-scrollbar {
    width: 8px;
}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
    background-color: #dede2e;
    outline: 1px solid slategrey;
    border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
    background-color: #18b5ce;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 991px) {
    .product-view {
        text-align: center;
    }
    .ant-image {
        /* width: 500px;
        height: 340px; */
    }
}
