.myaccount {
    padding: 70px;
    display: flex;
    justify-content: center;
}

.myaccount-info {
    padding: 40px;
}

.myaccount-info > p {
    font-size: 1.4em;
}

@media screen and (max-width: 768px) {
    .myaccount {
        display: block;
        padding: 20px 0 15px;
    }
    .myaccount-avatar {
        width: 100% !important;
    }
}
